<!-- <div class="d-flex justify-content-center my-3">
  <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#modal">
    CREATE TO DO
  </button>
</div> -->

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Create task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton
          (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="create()" novalidate>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Task name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Task name"
              formControlName="title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Task text</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="create()" [disabled]="!myForm.valid">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton
          (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
