<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">TO DO APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="/home">Task list</a>
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modal">Create</a>
        <a class="nav-link" (click)="find()">Find</a>
        <a class="nav-link" routerLink="/about">About</a>
      </div>
    </div>
  </div>
</nav>
